@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: hsl(207 97% 12%);
  --color-background-light: hsl(0 0% 100%);
  --color-background-dark: hsl(207 95% 8%);
  --color-background-cyber: hsl(79 100% 60%);
  --color-background-pastel: hsl(57 100% 86%);
  --color-background-water: hsl(179 100% 60%);
  --color-primary: hsl(0 0% 0%);
  --color-secondary: hsl(0 0% 40%);
  --color-navbar-text: hsl(0 0% 100%);
  --color-active: hsl(120 100% 40%);
}

@layer base {
  [data-theme="light"] {
    --color-card: hsl(207 97% 12%);
    --color-primary: hsl(0 0% 0%);
    --color-secondary: hsl(0 0% 40%);
    --color-navbar-text: hsl(220 15% 20%);
    --color-active: hsl(220 90% 50%);
  }
  [data-theme="dark"] {
    --color-card: hsl(0 0% 96%);
    --color-primary: hsl(0 0% 100%);
    --color-secondary: hsl(0 0% 60%);
    --color-navbar-text: hsl(0 0% 96%);
    --color-active: hsl(160 90% 55%);
  }
  [data-theme="cyber"] {
    --color-card: hsl(182, 87%, 39%);
    --color-primary: hsl(0 0% 0%);
    --color-secondary: hsl(0 0% 20%);
    --color-navbar-text: hsl(220 30% 10%);
    --color-active: hsl(195 100% 45%);
  }
  [data-theme="pastel"] {
    --color-card: hsl(291 46% 83%);
    --color-primary: hsl(0 0% 0%);
    --color-secondary: hsl(0 0% 20%);
    --color-navbar-text: hsl(280 40% 30%);
    --color-active: hsl(320 70% 45%);
  }
  [data-theme="water"] {
    --color-card: hsl(197, 100%, 40%);
    --color-primary: hsl(0 0% 0%);
    --color-secondary: hsl(0 0% 20%);
    --color-navbar-text: hsl(215 80% 25%);
    --color-active: hsl(200 100% 45%);
  }
}

@utility text-primary {
  color: var(--color-primary);
}
@utility text-secondary {
  color: var(--color-secondary);
}
@utility text-navbar {
  color: var(--color-navbar-text);
}
@utility text-active {
  color: var(--color-active);
}
@utility bg-primary {
  background-color: var(--color-primary);
}
.border-navbar {
  border-color: var(--color-navbar-text);
}

:root[data-theme="light"] {
  background-color: var(--color-background-light);
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

:root[data-theme="cyber"] {
  background-color: var(--color-background-cyber);
}

:root[data-theme="pastel"] {
  background-color: var(--color-background-pastel);
}

:root[data-theme="water"] {
  background-color: var(--color-background-water);
}
