@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: hsl(207 97% 12%);
  --color-background-light: hsl(0 0% 100%);
  --color-background-dark: hsl(207 95% 8%);
  --color-background-cyber: hsl(79 100% 60%);
  --color-background-pastel: hsl(57 100% 86%);
  --color-background-water: hsl(179 100% 60%);
}

@layer base {
  [data-theme="light"] {
    --color-card: hsl(207 97% 12%);
  }
  [data-theme="dark"] {
    --color-card: hsl(0 0% 96%);
  }
  [data-theme="cyber"] {
    --color-card: hsl(182, 87%, 39%);
  }
  [data-theme="pastel"] {
    --color-card: hsl(291 46% 83%);
  }
  [data-theme="water"] {
    --color-card: hsl(197, 100%, 40%);
  }
}

:root[data-theme="light"] {
  background-color: var(--color-background-light);
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

:root[data-theme="cyber"] {
  background-color: var(--color-background-cyber);
}

:root[data-theme="pastel"] {
  background-color: var(--color-background-pastel);
}

:root[data-theme="water"] {
  background-color: var(--color-background-water);
}
