@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.card {
  @apply bg-white shadow-md rounded-lg;
}

.card-title {
  @apply text-2xl font-semibold;
}

.card-body {
  @apply text-lg;
}

.card-footer {
  @apply text-sm text-gray-600;
}

.container {
  @apply mx-auto px-4;
}

/* markdown styles */
.md-link {
  @apply text-blue-500 hover:text-blue-700 active:text-blue-900 visited:text-purple-900 underline;
}

.md-paragraph {
  @apply text-base mb-2;
}

.md-h1 {
  @apply text-3xl font-bold mb-2;
}

h1 {
  @apply text-3xl font-bold mb-2;
}

.md-h2 {
  @apply text-2xl font-bold mb-2;
}

.md-h3 {
  @apply text-xl font-bold mb-2;
}

.md-list {
  @apply list-disc list-inside mb-3;
}

/* --------------------------------- */

.pointer {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-top: 10px
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.blog-card {
  border: 1px solid lime;
  width: 100%;
  height: 220px;
  cursor: pointer;
}

.blog-card:hover {
  border: 1px solid forestgreen;
  background-color: rgb(238, 245, 250);
}

.azure {
  color: azure;
}

.text-shadow {
  text-shadow: 2px 2px 2px #222;
}

.bg-deepskyblue {
  background-color: deepskyblue;
}

.bg-rainbow {
  background-size: cover;
  background-image: url("/liquid-cheese.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}