@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

@layer components {
  .card {
    @apply bg-white dark:bg-slate-600 shadow-md rounded-lg;
  }

  .card-title {
    @apply text-2xl font-semibold;
  }

  .card-body {
    @apply text-lg;
  }

  .card-footer {
    @apply text-sm text-gray-600;
  }

  .blog-card {
    @apply border-lime-500 dark:border-lime-300 border-l-4 p-4 my-4 hover:shadow-2xl hover:border-lime-600 dark:hover:border-lime-400 hover:bg-cyan-300 dark:hover:bg-cyan-800;
  }

  .container {
    @apply mx-auto px-4;
  }

  /* markdown styles */
  .md-link {
    @apply text-blue-500 hover:text-blue-700 active:text-blue-900 visited:text-purple-900 underline;
  }

  .md-paragraph {
    @apply text-base mb-2;
  }

  .md-h1 {
    @apply text-3xl font-bold mb-2;
  }

  h1 {
    @apply text-3xl font-bold mb-2;
  }

  .md-h2 {
    @apply text-2xl font-bold mb-2;
  }

  .md-h3 {
    @apply text-xl font-bold mb-2;
  }

  .md-list {
    @apply list-disc list-inside mb-3;
  }

  .nav-lik {
    @apply text-purple-500 hover:text-purple-700 active:text-purple-900 visited:text-purple-900 underline dark:text-yellow-100 dark:hover:text-yellow-200 dark:active:text-yellow-300 dark:visited:text-yellow-300;
  }

  .pointer {
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  td,
  th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }

  .text-shadow {
    text-shadow: 2px 2px 2px #222;
  }

  .bg-rainbow {
    background-size: cover;
    background-image: url("/liquid-cheese.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-dark-rainbow {
    background-size: cover;
    background-image: url("/liquid-cheese-dark.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333;
  }
}
